/* use media queries! */
:root {
    --bio-gold: #867b68;
    --dark-brown: #5a5346;
    --pale-pink: #f9f5fa;
    --mid-pink: #ede3f0;
    --pale-grey: #f1f2f2; 
}

a {
  text-decoration: none;
  color: unset;
}

body {
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-brown);
  margin: 0 auto 2em auto;
  width: 75%;
  background: linear-gradient(180deg, var(--mid-pink), var(--pale-grey));
}

header {
  width: 75%;
  position: fixed;
  top: 0;
  background-color: var(--mid-pink);
  display: grid;
  grid-template-areas: 
    "brand navbar"
}

.brand {grid-area: "brand";}

h1 {
  font-family: "Kaushan Script";
  color: var(--bio-gold);
  position: relative;
  padding-left: 3em;
}

#header-img {
  max-height: 1.5em;
  width: auto;
}

nav {
  width: 40%;
/*  display: flex;
  justify-content: space-around; */
  align-items: center;
  grid-area: "navbar";
  display: grid;
  grid-template-areas: 
     "navlink1 navlink2 navlink3"
}

.navlink1 {grid-area: "navlink1"};
.navlink2 {grid-area: "navlink2"};
.navlink3 {grid-area: "navlink3"};

main {
  margin: 7em auto 0 auto;
  text-align: center;
}

section {
  margin: 1.2em;
}

#evo-colours {
  display: grid;
  justify-content: space-around;
  grid-row-gap: 1em;
  grid-template-areas: 
    "gel1 gel2 gel3"
    "gel4 gel5 gel6"
    "gel7 gel8 gel9"
}

.gel1 {grid-area: "gel1";}
.gel2 {grid-area: "gel2";}
.gel3 {grid-area: "gel3";}
.gel4 {grid-area: "gel4";}
.gel5 {grid-area: "gel5";}
.gel6 {grid-area: "gel6";}
.gel7 {grid-area: "gel7";}
.gel8 {grid-area: "gel8";}
.gel9 {grid-area: "gel9";}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-img {
  max-height: 4em;
  width: auto;  
}

.footer-section {
  
}


/* MEDIA QUERIES */

/* Smartphones (portrait and landscape) ----------- */
@media (min-width : 320px) and (max-width : 480px) {
  header {
    display: grid;
    grid-template-areas: 
      "brand"
      "navbar"
  }

  #evo-colours {
    display: grid;
    grid-template-areas: 
      "gel1"
      "gel2"
      "gel3"
      "gel4"
      "gel5"
      "gel6"
      "gel7"
      "gel8"
      "gel9"
  }
}

/* Tablets (portrait and landscape) ----------- */
@media (min-width : 480px) and (max-width : 1024px) {
  #evo-colours {
    display: grid;
    grid-template-areas: 
      "gel1 gel2"
      "gel3 gel4"
      "gel5 gel6"
      "gel7 gel8"
      "gel9 gel9"
  }
}