/* use media queries & flexbox! */
:root {
    --bio-gold: #867b68;
    --dark-brown: #5a5346;
    --pale-pink: #f9f5fa;
    --mid-pink: #ede3f0;
    --pale-grey: #f1f2f2; 
}

a {
  text-decoration: none;
  color: unset;
}

body {
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-brown);
  margin: 0 auto 0 auto;
  width: 75%;
}

header {
  width: 75%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}

.brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: blue;
}

h1 {
  font-family: "Kaushan Script";
  color: var(--bio-gold);
  position: relative;
  padding-left: 3em;
}

#header-img {
  max-height: 4em;
  width: auto;
}

.nav {
  display: flex;
  background-color: green;
}

.nav-links {
  padding-right: 3em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-img {
  max-height: 4em;
  width: auto;  
}

.footer-section {
  flex: 0 1 auto;
}